<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div th:fragment="sidebar">
    <div class="page-sidebar-wrapper">
        <!-- END SIDEBAR -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <div class="page-sidebar navbar-collapse collapse">
            <!-- BEGIN SIDEBAR MENU -->
            <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
            <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
            <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
            <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            <ul class="page-sidebar-menu  page-header-fixed  page-sidebar-menu-compact" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                <li class="nav-item start">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-user"></i>
                        <span class="title">Gestion Utilisateurs</span>
                        <span class="selected"></span>
                        <span class="arrow open"></span>
                    </a>

                    <ul class="sub-menu">
                        <li class="nav-item start ">
                            <a href="/utilisateurs" class="nav-link ">
                                <i class="icon-bulb"></i>
                                <span class="title">Utilisateurs</span>
                            </a>
                        </li>
                        <li class="nav-item start">
                            <a href="/utilisateurs/ajouter" class="nav-link ">
                                <i class="icon-user-follow"></i>
                                <span class="title">Ajouter Utilisateur</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item start ">
                    <a href="/salles" class="nav-link ">
                        <i class="icon-bulb"></i>
                        <span class="title">Salles</span>
                    </a>
                </li>
                <li class="nav-item start ">
                    <a href="/etablissements" class="nav-link ">
                        <i class="icon-bulb"></i>
                        <span class="title">Etablissements</span>
                    </a>
                </li>
                <li class="nav-item start ">
                    <a href="/niveaux" class="nav-link ">
                        <i class="icon-bulb"></i>
                        <span class="title">Niveaux</span>
                    </a>
                </li>
                <li class="nav-item start ">
                    <a href="/filieres" class="nav-link ">
                        <i class="icon-bulb"></i>
                        <span class="title">Filieres</span>
                    </a>
                </li>
                <li class="nav-item start ">
                    <a href="/groupes" class="nav-link ">
                        <i class="icon-bulb"></i>
                        <span class="title">Groupes</span>
                    </a>
                </li>
                <li class="nav-item start ">
                    <a href="/emploi" class="nav-link ">
                        <i class="icon-bulb"></i>
                        <span class="title">Gestion des emplois du temps</span>
                    </a>
                </li>
                <li class="nav-item start">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-user"></i>
                        <span class="title">Gestion des cours</span>
                        <span class="selected"></span>
                        <span class="arrow open"></span>
                    </a>

                    <ul class="sub-menu">
                        <li class="nav-item start ">
                            <a href="/cours" class="nav-link ">
                                <i class="icon-bulb"></i>
                                <span class="title">Cours</span>
                            </a>
                        </li>
                        <li class="nav-item start">
                            <a href="/affectation/enseignants" class="nav-link ">
                                <i class="icon-user-follow"></i>
                                <span class="title">Affectation des cours</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- END SIDEBAR MENU -->
        </div>
        <!-- END SIDEBAR -->
    </div>
</div>
</body>
</html>
