<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div th:fragment="sidebar">
    <div th:if="${session.utilisateur.isAdmin()}">
        <th:block th:include="fragments/admin-sidebar.html :: admin-sidebar"></th:block>
    </div>
    <div th:if="${session.utilisateur.isEnseignant()}">
        <th:block th:include="fragments/enseignant-sidebar.html :: enseignant-sidebar"></th:block>
    </div>
    <div th:if="${session.utilisateur.isEtudiant()}">
        <th:block th:include="fragments/etudiant-sidebar.html :: etudiant-sidebar"></th:block>
    </div>
</div>
</body>
</html>
